hotkey/Debug/
hotkey/hotkey.ncb
hotkey/hotkey.suo
hotkey/hotkey/Debug/
hotkey/hotkey/hotkey.aps
hotkey/hotkey/hotkey.vcproj.zhangkai-pc.zhangkai.user
hotkey/hotkey/res/dollor.ico
wcom2tcp/Debug/
wcom2tcp/wcom2tcp/Debug/
